
.settingsWrapper {
    position:absolute;
    bottom:0;
    left:24%;
    width:50px;
}

.toggles {
    position: absolute;
    bottom: 20%;
    left: 22%;
    width: 135px;
}

.updateDOB {
    margin: 0 auto;
}

.LogoutButtonDiv{
    margin-top: 15px;
}


