.root {
	-fx-font-family: "Comic Sans MS" ;	
	-fx-background-color: lightgoldenrodyellow ;
}

.hangman-board {
	-fx-background-color: white ;
	-fx-padding: 15px ;
	-fx-alignment: center;

}

.numTries { /** CT **/
	-fx-background-color: orange ;
	-fx-padding: 15px ;
	-fx-alignment: center ;
	-fx-font-size: 15px;
}


.alphabet {
	-fx-background-color: brown;
	-fx-padding: 30px;
	-fx-font-size: 20px;
	-fx-alignment: center;
}

.letter-status { /** CT **/
	-fx-background-color: lightblue ;
	-fx-padding: 25px ;
	-fx-alignment: center;
	-fx-font-size: 30px; 
}

.hangman-board > .board-grid {
	-fx-background-color: white ;
	-fx-border-color: transparent ;
}

.hangman-board .label:disabled {
	-fx-opacity: 1.0 ;
}

.hangman-board > .board-grid > .label {
	-fx-font-size: 128pt ;
}

.status {
	-fx-font-size: 24pt ;
	-fx-text-fill: sandybrown ;
}