.face {
    margin-top: 20px;
    font-size: 8em;
}

.user-details {
    text-align: center;
}

.username {
    font-size: 30px;
    margin: 0;
}

.age {
    font-size: 20px;
    margin: 0;
}

.status {
    position: absolute;
    margin-top: 50px;
    left: 40%;
}

.statusText {
    margin-right: 20px;
}

.addPost {
    position: absolute;
    margin-top: 100px;
    left: 40%;
}

.post {
    margin-right: 20px;
} 

.listPosts {
    position: absolute;
    margin-top: 250px;
    left: 40%;
}