.face {
    margin-top: 20px;
    font-size: 8em;
}

.user-details {
    text-align: center;
}

.username {
    font-size: 30px;
    margin: 0;
}

.age {
    font-size: 20px;
    margin: 0;
}

.status {
    position: absolute;
    margin: 50px auto 35px auto;
    left: 40%;
}

.statusText {
    margin-right: 20px;
}
